<mat-sidenav-container>
  <mat-sidenav #sidenav mode="over" [(opened)]="isSidenavOpen" *ngIf="!isLargeScreen">
    <mat-nav-list>
      <a mat-list-item routerLink="/home" routerLinkActive="active" (click)="closeSidenav()">Kezdőlap</a>
      <a mat-list-item routerLink="/vasar" routerLinkActive="active" (click)="closeSidenav()">Jegyvásárlás</a>
      <a mat-list-item routerLink="/jegyek" routerLinkActive="active" (click)="closeSidenav()">Megvásárolt jegyek</a>
      <a mat-list-item routerLink="/about" routerLinkActive="active" (click)="closeSidenav()">A múzeumról</a>
      <a mat-list-item routerLink="/contact" routerLinkActive="active" (click)="closeSidenav()">Kapcsolat</a>
      <a mat-list-item *ngIf="isAdmin$ | async" routerLink="/admin" routerLinkActive="active" (click)="closeSidenav()">Admin</a>
      <a mat-list-item *ngIf="!(isAuthenticated$ | async)" routerLink="/login" routerLinkActive="active" (click)="closeSidenav()">Bejelentkezés</a>
      <a mat-list-item *ngIf="!(isAuthenticated$ | async)" routerLink="/register" routerLinkActive="active" (click)="closeSidenav()">Regisztráció</a>
      <a mat-list-item *ngIf="isAuthenticated$ | async" (click)="logout(); closeSidenav()">Kijelentkezés</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar>
      <a routerLink="/home" class="logo">
        <span>Munkácsy Múzeum</span>
      </a>

      <button mat-icon-button (click)="toggleSidenav()" *ngIf="!isLargeScreen">
        <mat-icon>menu</mat-icon>
      </button>

      <ng-container *ngIf="isLargeScreen">
        <a mat-button routerLink="/home" routerLinkActive="active">Kezdőlap</a>
        <a mat-button routerLink="/vasar" routerLinkActive="active">Jegyvásárlás</a>
        <a mat-button routerLink="/jegyek" routerLinkActive="active">Megvásárolt jegyek</a>
        <a mat-button routerLink="/about" routerLinkActive="active">A múzeumról</a>
        <a mat-button routerLink="/contact" routerLinkActive="active">Kapcsolat</a>
        <a mat-button *ngIf="isAdmin$ | async" routerLink="/admin" routerLinkActive="active">Admin</a>
        <a mat-button *ngIf="!(isAuthenticated$ | async)" routerLink="/login" routerLinkActive="active">Bejelentkezés</a>
        <a mat-button *ngIf="!(isAuthenticated$ | async)" routerLink="/register" routerLinkActive="active">Regisztráció</a>
        <a mat-button *ngIf="isAuthenticated$ | async" (click)="logout(); closeSidenav()">Kijelentkezés</a>
      </ng-container>
    </mat-toolbar>

    <div class="page-content">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>