<div class="about-container">
    <header class="header">
      <h1>A múzeumról</h1>
    </header>
  
    <div class="content">
      <div class="info-section">
        <h2>Cím:</h2>
        <p>5600 Békéscsaba, Széchenyi u. 9.</p>
  
        <h2>Levelezési cím:</h2>
        <p>5601 Békéscsaba, Pf. 46</p>
  
        <h2>A múzeum telefonszáma (általános csoportok jelentkezése):</h2>
        <p>+36 66 328 040</p>
  
        <h2>Az igazgatóság telefonszáma:</h2>
        <p>+36 66 323 377</p>
  
        <h2>E-mail:</h2>
        <p>mnm"kukac"munkacsy.hu</p>
  
        <h2>Nyitvatartás:</h2>
        <p>
          A Munkácsy Mihály Múzeum hétfő kivételével naponta 10–18 óráig tart nyitva.
        </p>
      </div>
  
    
      <div class="map-section">
        <h2 class="map-title">Munkácsy Mihály Múzeum</h2>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2737.2156284421344!2d21.097786250506317!3d46.68174505929597!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47442ba2e40b39fd%3A0xd9e7a165a1cb6867!2zTXVua8OhY3N5IE1paMOhbHkgTcO6emV1bQ!5e0!3m2!1shu!2shu!4v1517326187972"
          width="100%"
          height="300"
          style="border:0;"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade">
        </iframe>
      </div>
    </div>
  </div>